footer {
  background: linear-gradient(45deg, #26a699a2, #e3eeed);
  margin-top: 50px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_github__link {
  height: 30px;
  transition: all 0.5s;
}

.footer_github__img {
  height: 30px;
}

.footer_github__link:hover {
  transform: translateY(-5px);
}

.footer_mail__link {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  transition: all 0.5s;
}

.footer_mail__link:hover {
  transform: translateY(-5px);
}

.footer_phone__link {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  transition: all 0.5s;
}
.footer_phone__img {
  height: 25px;
}

.footer_phone__link:hover {
  transform: translateY(-5px);
}

.footer_whatsapp__link {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  transition: all 0.5s;
}
.footer_whatsapp__img {
  height: 25px;
}

.footer_whatsapp__link:hover {
  transform: translateY(-5px);
}

.footer_name {
  text-align: center;
  margin: 5px;
}
